.container{
	display:flex;
}
.container1 {
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	border-width:6px;
	border:solid;
	border-color:red;
}
.container1a {
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	border:solid;
	border-color:blue;
}
.container1b{
	display:flex;
	justify-content:space-evenly;
	border:solid;
	border-color:purple;
	border-width:6px;
	
}
.container1b1 {
	display:flex;
	flex-direction:column;
	border:solid;
	border-color:green;
	border-width:6px;
}
.container1b2 {
	display:flex;
	border:solid;
	border-color:orange;
	border-width:6px;
}